<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="una.android.rapimoncha"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="16" />

    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBOdbbaDUhdbq0XU7W-t4t1RJ_c8BZjk2A" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".Main"
            android:label="@string/activity_main_titulo" >
        </activity>
        <activity
            android:name="una.android.rapimoncha.activities.WelcomeScreen"
            android:label="@string/activity_welcomescreen_titulo" >
        </activity>
        <activity
            android:name="una.android.rapimoncha.activities.LoginScreen"
            android:label="@string/activity_login_titulo" >
        </activity>
                <activity
            android:name="una.android.rapimoncha.activities.modulos.producto.ActualizarProductoScreen"
            android:label="@string/fragment_updateproducto3_titulo" >
        </activity>
        <activity
            android:name="una.android.rapimoncha.activities.modulos.otros.EvaluacionAppScreen"
            android:label="@string/activity_evaluacion_aplicacion_titulo" >
        </activity>           
        <activity
            android:name="una.android.rapimoncha.activities.modulos.producto.ListadoProductosScreen"
            android:label="@string/activity_listadoproductos_titulo" >
        </activity>     
        <activity
            android:name="una.android.rapimoncha.activities.modulos.solicitudes.ListadoSolicitudesScreen"
            android:label="@string/activity_listadosolicitudes_titulo" >
        </activity>  
        <activity
            android:name="una.android.rapimoncha.activities.modulos.solicitudes.DetalleSolicitudScreen"
            android:label="@string/activity_detalle_solicitud_titulo" >
        </activity>                     
        <activity
            android:name="una.android.rapimoncha.activities.RegistroComercioScreen"
            android:label="@string/activity_registrocomercio_titulo" >
        </activity>
                <activity
            android:name="una.android.rapimoncha.activities.modulos.RegistroProductoScreen"
            android:label="@string/activity_registroproducto_titulo" >
        </activity>
         <activity
            android:name="una.android.rapimoncha.activities.modulos.usuario.RegistroUsuarioScreen"
            android:label="@string/activity_registrousuario_titulo" >
        </activity>
         <activity
            android:name="una.android.rapimoncha.activities.modulos.usuario.DatosLoginUsuarioScreen"
            android:label="@string/activity_datosloginusuario_titulo" >
        </activity> 
         <activity
            android:name="una.android.rapimoncha.activities.modulos.comercio.ActualizarComercioScreen"
            android:label="@string/activity_datosloginusuario_titulo" >
        </activity>        
         <activity
            android:name="una.android.rapimoncha.activities.modulos.usuario.DetalleUsuarioScreen"
            android:label="@string/activity_detalle_usuario_titulo" >
        </activity>  
         <activity
            android:name="una.android.rapimoncha.activities.modulos.otros.AcercaDeScreen"
            android:label="@string/activity_acercade_titulo" >
        </activity> 
         <activity
            android:name="una.android.rapimoncha.activities.modulos.usuario.LogoutScreen"
            android:label="@string/activity_logout_titulo" >
        </activity>   
         <activity
            android:name="una.android.rapimoncha.activities.modulos.otros.ExitScreen"
            android:label="@string/activity_exit_titulo" >
        </activity> 
         <activity
            android:name="una.android.rapimoncha.activities.modulos.comercio.MiPaginaScreen"
            android:label="@string/activity_mipagina_titulo" >
        </activity>         
         <activity
            android:name="una.android.rapimoncha.activities.modulos.configuracion.ListadoConfiguracionesScreen"
            android:label="@string/activity_listadoconfiguraciones_titulo" >
        </activity> 
         <activity
            android:name="una.android.rapimoncha.activities.modulos.comercio.ListadoComerciosScreen"
            android:label="@string/activity_comercio_listado_titulo" >
        </activity>   
         <activity
            android:name="una.android.rapimoncha.activities.modulos.comercio.PaginaComercioScreen"
            android:label="@string/activity_paginacomercio_titulo" >
        </activity>                                                          
        <activity
            android:name="una.android.rapimoncha.activities.SplashScreen"
            android:configChanges="orientation"
            android:label="@string/activity_splashscreen_titulo"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

</manifest>